In [22]:
# Approach to generate the linear trajectory to every trajectory recived from fiji to then compre
# them by some metrics:

import pandas as pd
import numpy as np
import random

In [34]:
# Creating the sample data frame randomly generated
df_random = pd.DataFrame(columns=['Track_name','start_x', 'start_y', 'end_x', 'end_y', 'Move_frames'])

In [35]:
# Generating 10 random positions for start and end points:
track_names = [f'track_{i}' for i in range(1,21)]
df_random['Track_name'] = track_names
df_random['Move_frames'] = random.sample(range(5,100), 20)

col_list = ['start_x', 'start_y', 'end_x', 'end_y']
for col in col_list:
    df_random[col] = random.sample(range(0,40), 20)
    
df_random

   Track_name  start_x  start_y  end_x  end_y  Move_frames
0     track_1        3        3     11     18           53
1     track_2        5       38     29     11           67
2     track_3       30       22     16     15           43
3     track_4       13       24      5     39           24
4     track_5       39        7     31     34           99
5     track_6       37       19     32     29           57
6     track_7       10       25     22     24           34
7     track_8       23       16     10     10           39
8     track_9       36        5     26     16           15
9    track_10       38        9      7     30           66
10   track_11        9       35     36     28           72
11   track_12       22       34     21     32           69
12   track_13       20       23     38      4           12
13   track_14       33       11     20      5           51
14   track_15       35       21     39      9           37
15   track_16        8       26     27      7           49
16   track_17       29       10      2     38           85
17   track_18       19        8     18     25           40
18   track_19       27        2     15     19           93
19   track_20        1       30     30     36           52

In [36]:
# function to generating random intigers for the pos_x and y in every move frame
def generate_random_integers(n):
    return np.random.randint(1, 50, size = (n, 2))

# creating a new data frame with equal number of rows based on the 'number' column
df_move_frames = pd.DataFrame(np.repeat(df_random.values, df_random['Move_frames'], axis = 0),
                              columns=df_random.columns)

# Generating random integers for each pos_x, pos_y in each row:
df_move_frames[['pos_x', 'pos_y']] = pd.DataFrame(generate_random_integers(len(df_move_frames)))

In [37]:
df_move_frames

     Track_name start_x start_y end_x end_y Move_frames  pos_x  pos_y
0       track_1       3       3    11    18          53     27      3
1       track_1       3       3    11    18          53      4      4
2       track_1       3       3    11    18          53     45     27
3       track_1       3       3    11    18          53     28      5
4       track_1       3       3    11    18          53     40     24
...         ...     ...     ...   ...   ...         ...    ...    ...
1052   track_20       1      30    30    36          52     43     11
1053   track_20       1      30    30    36          52     16     28
1054   track_20       1      30    30    36          52     43     43
1055   track_20       1      30    30    36          52     37     22
1056   track_20       1      30    30    36          52     32     45

[1057 rows x 8 columns]