In [22]:
# Approach to generate the linear trajectory to every trajectory recived from fiji to then compre
# them by some metrics:

import pandas as pd
import numpy as np
import random

In [30]:
# Creating the sample data frame randomly generated
df_random = pd.DataFrame(columns=['Track_name','start_x', 'start_y', 'end_x', 'end_y', 'Move_frames', 'pos_x', 'pos_y'])

In [33]:
# Generating 10 random positions for start and end points:
track_names = [f'track_{i}' for i in range(1,21)]
df_random['Track_name'] = track_names
df_random['Move_frames'] = random.sample(range(5,100), 20)

col_list = ['start_x', 'start_y', 'end_x', 'end_y']
for col in col_list:
    df_random[col] = random.sample(range(0,40), 20)
    
df_random

   Track_name  start_x  start_y  end_x  end_y  Move_frames pos_x pos_y
0     track_1       27       20     33     31           94   NaN   NaN
1     track_2       13        2     14     23            7   NaN   NaN
2     track_3        9        8     23     22           31   NaN   NaN
3     track_4       17       27     17     32           46   NaN   NaN
4     track_5       22       12     35     26           57   NaN   NaN
5     track_6        3       37     34     13           26   NaN   NaN
6     track_7       36       33     25     33           91   NaN   NaN
7     track_8       12       34     15     15           45   NaN   NaN
8     track_9        7       22     39     21           37   NaN   NaN
9    track_10       20        1     30      1           59   NaN   NaN
10   track_11       16        7     16      3           14   NaN   NaN
11   track_12       15       25     24     24           75   NaN   NaN
12   track_13        2       36      0     10           89   NaN   NaN
13   track_14       28       26     11      5           93   NaN   NaN
14   track_15        0       10     38     29           25   NaN   NaN
15   track_16       11       30      8      9           55   NaN   NaN
16   track_17        8       39      3      2           99   NaN   NaN
17   track_18       38        5     37     12           64   NaN   NaN
18   track_19       10       23     13     17           67   NaN   NaN
19   track_20       35       11     20     19           85   NaN   NaN